.container {
    background-color: #eee;
}
.main {
    width: 1280px;
    margin: 80px auto 0 auto;
    height: 100vh;
    background-color: aqua;
}
.mainImg {
    background-color: yellow;
    width: 50%;
    height: 100vh;
}
.bigImg {
    width: 400px;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.bigImg img {
    height: 600px;
    margin: 0 auto;
}
.miniImg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img {
    width: 65px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
}
.aa {
    background: url(https://saint-laurent.dam.kering.com/m/18587c77c0d9de1f/Medium2-710431Y2F621000_A.jpg?v=1) no-repeat;
    background-size: contain;
    background-position: center;
}
.bb {
    background: url(https://saint-laurent.dam.kering.com/m/35b72d5dcab50171/Medium2-710431Y2F621000_Y.jpg?v=1) no-repeat;
    background-size: cover;
    background-position: center;
}
.cc {
    background: url(https://saint-laurent.dam.kering.com/m/bde8f7c7d93a180/Medium2-710431Y2F621000_B.jpg?v=2) no-repeat;
    background-size: contain;
    background-position: center;
}
.dd {
    background: url(https://saint-laurent.dam.kering.com/m/2be1a605ac171a51/Medium2-710431Y2F621000_C.jpg?v=2) no-repeat;
    background-size: contain;
    background-position: center;
}
.ee {
    background: url(https://saint-laurent.dam.kering.com/m/71ee0bef2b3f843f/Medium2-710431Y2F621000_H.jpg?v=2) no-repeat;
    background-size: cover;
    background-position: center;
}
.ff {
    background: url(https://saint-laurent.dam.kering.com/m/55bbeb901cb032f0/Medium2-710431Y2F621000_D.jpg?v=2) no-repeat;
    background-size: contain;
    background-position: center;
}
.border {
    border: 2px solid black;
}

.bigImg {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 200px;
    height: 200px;
}

