@media screen and (max-width: 1440px) {
.main {
  margin: 0 6%;
  grid-template-rows: 580px 50px 1940px 50px 500px 1000px 50px 1000px 50px 2780px 50px 500px 1000px 50px 1000px 50px 610px 50px 500px 1000px 50px 1000px 50px 300px 50px 500px 1000px 50px 300px 50px 500px 1000px 50px 1000px 50px;
}

.c3h2 {font-size: 1.6rem; padding: 5px;}
.c3h1 {font-size: 3.0rem; padding: 0 5px 10px 5px;}
.c3p {font-size: 1.5rem; padding: 5px}

.main>.content6>.content1>.text>h2,
.main>.content6>.content2>.text>h2,
.main>.content6>.content3>.text>h2 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
.main>.content6>.content1>.text>h1,
.main>.content6>.content2>.text>h1,
.main>.content6>.content3>.text>h1 {
  font-size: 3.5rem;
  padding-bottom: 20px;
}
.main>.content6>.content1>.text>p,
.main>.content6>.content2>.text>p,
.main>.content6>.content3>.text>p {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.main>.content8>.content1>.text>h2,
.main>.content8>.content2>.text>h2,
.main>.content8>.content3>.text>h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}
.main>.content8>.content1>.text>h1,
.main>.content8>.content2>.text>h1,
.main>.content8>.content3>.text>h1 {
  font-size: 3.2rem;
  padding-bottom: 20px;
}
.main>.content8>.content1>.text>p,
.main>.content8>.content2>.text>p,
.main>.content8>.content3>.text>p {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.c10h2 {font-size: 1.6rem; padding: 5px;}
.c10h1 {font-size: 3.0rem; padding: 0 5px 10px 5px;}
.c10p {font-size: 1.5rem; padding: 5px}

.main>.content13>.content1>.text>h2,
.main>.content13>.content2>.text>h2,
.main>.content13>.content3>.text>h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}
.main>.content13>.content1>.text>h1,
.main>.content13>.content2>.text>h1,
.main>.content13>.content3>.text>h1 {
  font-size: 3.2rem;
  padding-bottom: 20px;
}
.main>.content13>.content1>.text>p,
.main>.content13>.content2>.text>p,
.main>.content13>.content3>.text>p {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.main>.content15>.content1>.text>h2,
.main>.content15>.content2>.text>h2,
.main>.content15>.content3>.text>h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}
.main>.content15>.content1>.text>h1,
.main>.content15>.content2>.text>h1,
.main>.content15>.content3>.text>h1 {
  font-size: 3.2rem;
  padding-bottom: 20px;
}
.main>.content15>.content1>.text>p,
.main>.content15>.content2>.text>p,
.main>.content15>.content3>.text>p {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.c17h2 {font-size: 1.6rem; padding: 5px;}
.c17h1 {font-size: 3.0rem; padding: 0 5px 10px 5px;}
.c17p {font-size: 1.5rem; padding: 5px}

.main>.content20>.content1>.text>h2,
.main>.content20>.content2>.text>h2,
.main>.content20>.content3>.text>h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}
.main>.content20>.content1>.text>h1,
.main>.content20>.content2>.text>h1,
.main>.content20>.content3>.text>h1 {
  font-size: 3.2rem;
  padding-bottom: 20px;
}
.main>.content20>.content1>.text>p,
.main>.content20>.content2>.text>p,
.main>.content20>.content3>.text>p {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.main>.content22>.content1>.text>h2,
.main>.content22>.content2>.text>h2,
.main>.content22>.content3>.text>h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}
.main>.content22>.content1>.text>h1,
.main>.content22>.content2>.text>h1,
.main>.content22>.content3>.text>h1 {
  font-size: 3.2rem;
  padding-bottom: 20px;
}
.main>.content22>.content1>.text>p,
.main>.content22>.content2>.text>p,
.main>.content22>.content3>.text>p {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.c24h2 {font-size: 1.6rem; padding: 5px;}
.c24h1 {font-size: 3.0rem; padding: 0 5px 10px 5px;}
.c24p {font-size: 1.5rem; padding: 5px}
.main>.content24>div {
  border-radius: 10px / 10px;
  background: yellowgreen;
}

.main>.content27>.content1>.text>h2,
.main>.content27>.content2>.text>h2,
.main>.content27>.content3>.text>h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}
.main>.content27>.content1>.text>h1,
.main>.content27>.content2>.text>h1,
.main>.content27>.content3>.text>h1 {
  font-size: 3.2rem;
  padding-bottom: 20px;
}
.main>.content27>.content1>.text>p,
.main>.content27>.content2>.text>p,
.main>.content27>.content3>.text>p {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.c29h2 {font-size: 1.6rem; padding: 5px;}
.c29h1 {font-size: 3.0rem; padding: 0 5px 10px 5px;}
.c29p {font-size: 1.5rem; padding: 5px}

.main>.content32>.content1>.text>h2,
.main>.content32>.content2>.text>h2,
.main>.content32>.content3>.text>h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}
.main>.content32>.content1>.text>h1,
.main>.content32>.content2>.text>h1,
.main>.content32>.content3>.text>h1 {
  font-size: 3.2rem;
  padding-bottom: 20px;
}
.main>.content32>.content1>.text>p,
.main>.content32>.content2>.text>p,
.main>.content32>.content3>.text>p {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.main>.content34>.content1>.text>h2,
.main>.content34>.content2>.text>h2,
.main>.content34>.content3>.text>h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}
.main>.content34>.content1>.text>h1,
.main>.content34>.content2>.text>h1,
.main>.content34>.content3>.text>h1 {
  font-size: 3.2rem;
  padding-bottom: 20px;
}
.main>.content34>.content1>.text>p,
.main>.content34>.content2>.text>p,
.main>.content34>.content3>.text>p {
  font-size: 1.5rem;
  padding-bottom: 15px;
}
}