@media screen and (max-width: 1600px) {
.main {
  height: 100%;
  grid-template-rows: 580px 50px 2165px 50px 500px 1000px 50px 1000px 50px 3150px 50px 500px 1000px 50px 1000px 50px 710px 50px 500px 1000px 50px 1000px 50px 350px 50px 500px 1000px 50px 350px 50px 500px 1000px 50px 1000px 50px;
}

.c3h2 {font-size: 1.8rem; padding: 8px;}
.c3h1 {font-size: 3.3rem; padding: 0 8px 12px 8px;}
.c3p {font-size: 1.6rem; padding: 8px}

.c10h2 {font-size: 1.8rem; padding: 8px;}
.c10h1 {font-size: 3.3rem; padding: 0 8px 12px 8px;}
.c10p {font-size: 1.6rem; padding: 8px}

.c17h2 {font-size: 1.8rem; padding: 8px;}
.c17h1 {font-size: 3.3rem; padding: 0 8px 12px 8px;}
.c17p {font-size: 1.6rem; padding: 8px}

.c24h2 {font-size: 1.8rem; padding: 8px;}
.c24h1 {font-size: 3.3rem; padding: 0 8px 12px 8px;}
.c24p {font-size: 1.6rem; padding: 8px}

.c29h2 {font-size: 1.8rem; padding: 8px;}
.c29h1 {font-size: 3.3rem; padding: 0 8px 12px 8px;}
.c29p {font-size: 1.6rem; padding: 8px}
}