* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
html::-webkit-scrollbar {
    display: none;
}
/* ----------헤더시작------------ */
header {
    position: fixed;
    z-index: 10;
}
.logo {
    float: left;
    width: 300px;
    height: 50px;
    margin: 30px;
    filter: invert(100%);
}
nav {
    margin: 30px;
    position: fixed;
    top: 50px;
    display: flex;
    flex-direction: column;
}
nav a,
nav i {
    display: block;
    float: left;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    height: 20px;
}
nav a:hover,
nav i:hover {
    font-size: 18px;
}
.shopIn,
.historyIn,
.laIn {
    margin: 0 30px;
    font-size: 16px;
    display: none;
}
.shopIn a,
.historyIn a,
.laIn a {
    margin: 0 10px;
}
.menu1:hover .shopIn {
    display: inline-block;
}
.menu2:hover .historyIn {
    display: inline-block;
}
.menu3:hover .laIn {
    display: inline-block;
}
nav .icon i {
    margin: 20px 20px 0 0;
}
.search {
    display: none;
}
.on {
    display: block;
}
.search input {
    padding: 5px;
}
.search input:focus {
    outline: none;
}
.search button {
    width: 0;
    height: 0;
    background-color: transparent;
    border: 0;
    position: relative;
    right: 32px;
    top: 10px;
}
button i {
    color: black;
    font-size: 20px;
    margin: 3px;
}
/* ----------헤더 끝------------- */
/* --------로그인 창----------------- */
.black {
    width: 100%;
    height: 100%;
    filter: brightness(30%);
    pointer-events: none;
}
.join {
    padding-top: 60px;
    width: 500px;
    height: 600px;
    background-color: #eee;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 20%;
    margin: 0 auto;
    z-index: 100;
    border-radius: 25px;
}
.fa-xmark {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
}
.join form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join form p {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
.join form input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 0;
    text-indent: 10px;
}
.join form input:last-child {
    margin-bottom: 10px;
}
.join form .old {
    padding: 10px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: black;
    outline: none;
    border: 0;
}
.join a {
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.remember {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.remember a {
    text-align: right;
}
.new {
    display: flex;
    flex-direction: column;
}
.social {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kakao {
    width: 300px;
    height: 50px;
    background-color: yellow;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.google {
    width: 300px;
    height: 50px;
    background-color: rgb(196, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.hidden {
    display: none;
}
/* --------로그인 끝----------------- */
.swiper {
    width: 100%;
    height: 100vh;
}
.swiper-button-prev,
.swiper-button-next {
    color: rgb(255, 255, 255, 0.5);
}
.aa {
    background: url(https://saint-laurent.dam.kering.com/m/2ee9541ab44f4c71/original/Fall_22_Homepage_Desktop_Fur.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.bb {
    pointer-events: none;
}
.cc {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://content.api.news/v3/images/bin/9bac395c8f577ea9f0860cbef485f19b);
    background-size: cover;
    background-position: center;
}
.cc div {
    z-index: 1;
    font-size: 100px;
}
.cc a {
    color: white;
    text-decoration: none;
}
.cc::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.dd {
    background: url(https://pbs.twimg.com/media/DWJYkz_VoAYb8C2?format=jpg&name=large) no-repeat;
    background-size: contain;
    background-position: top;
    background-color: #ccc;
}

.ccc {
    padding: 0 8%;
    display: grid;
    grid-template-columns: 1fr 7fr 0.5fr 7fr 1fr;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
}
.fw {
    width: 100%;
    height: 100vh;
    background: url(https://assets.vogue.com/photos/62a35c778c4848a352103b00/master/w_1920,c_limit/00084-saint-laurent-menswear-fw-2022-credit-brand.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.fw2 {
    width: 100%;
    height: 100vh;
    background: url(https://saint-laurent.dam.kering.com/m/6719347266e3bcd0/original/027.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.fwInfo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}
.infoP {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.infoP a {
    text-decoration: none;
    color: black;
    margin-right: 50px;
    font-size: 26px;
}
.infoP i {
    margin-left: 10px;
    transform: rotate(45deg);
}
.title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.title > h1 {
    margin: 0 10px;
}
.detail {
    padding: 10px 50px;
    text-align: justify;
    margin-bottom: 50px;
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: transparent;
    border: 1px solid white;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    width: 30px;
    transition: width 0.5s;
    border-radius: 5px;
    background: white;
    border: 1px solid transparent;
}

.animate__slideInDown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 50px;
    color: rgb(255, 255, 255, 0.5);
    font-size: 20px;
}
.animate__slideInDown i {
    font-size: 50px;
}
.ddd {
    width: 100%;
    height: 70vh;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linkTitle {
    margin-bottom: 100px;
    font-size: 50px;
    font-weight: bold;
}
.teamLink {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ilnkBanner {
    width: 400px;
    height: 200px;
    margin: 10px;
    transition: all 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ilnkBanner > a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
    transition: all 0.6s;
}
.ilnkBanner:hover {
    width: 600px;
}
.ilnkBanner:hover > a {
    font-size: 40px;
}
.ilnkBanner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.linkHs {
    background: url(https://content.api.news/v3/images/bin/9bac395c8f577ea9f0860cbef485f19b) no-repeat;
    background-position: center;
    background-size: cover;
}
.linkRc {
    background: url(https://saint-laurent.dam.kering.com/m/1564874163a91c3a/original/YSL-com-section-de-veloppement-durable_images_I-77.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.linkCo {
    background: url(https://cdn.eyesmag.com/content/uploads/posts/2021/07/20/doug-aitken-green-lens-saint-laurent-main-5bb4e840-d31f-422b-adc5-b7bc5c78e93c.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

/* ------탑버튼 시작--------------- */
.topBtn {
    width: 50px;
    height: 50px;
    background-color: black;
    position: fixed;
    bottom: 30px;
    right: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
}
.topBtn i {
    color: white;
}
/* ------탑버튼 끝--------------- */

/*  ------------------푸터 시작--------------------*/
footer {
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255, 0.8);
    padding-left: 200px;
}
footer div {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.big {
    width: 500px;
    margin: 20px;
}
footer div p {
    margin-bottom: 8px;
    font-size: 14px;
}
.mini {
    font-size: 12px;
}
footer a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.8);
    font-size: 14px;
    margin-bottom: 8px;
}
/*  ---------------푸터 끝--------------------------*/

@media screen and (max-width: 767px) {
    .swiper {
        height: 50vh;
    }
    .cc div {
        font-size: 50px;
    }
    .ccc {
        padding: 0;
        grid-template-columns: 0 7fr 0.5fr 7fr 0;
    }
    .ddd {
        height: 100vh;
    }
    .teamLink {
        flex-direction: column;
    }
    .detail {
        padding: 10px 10px;
        text-align: left;
    }
    .title {
        margin-bottom: 10px;
        font-size: 20px;
    }
    footer {
        height: 200px;
        padding: 0 20px;
    }
    .topBtn {
        width: 35px;
        height: 35px;
        font-size: 20px;
        bottom: 20px;
        right: 20px;
    }
    .animate__slideInDown {
        display: none;
    }
}
