@media screen and (max-width: 767px) {
.main {
  margin: 0 1%;
  grid-template-rows: 480px 50px 2510px 50px 400px 2000px 10px 2000px 50px 3710px 50px 400px 2000px 10px 2000px 50px 1510px 50px 400px 2000px 10px 2000px 50px 750px 50px 400px 2000px 50px 750px 50px 400px 2000px 50px 2000px 50px;
}

.main>.content1>.title {
  font-size: 5.5rem;
  padding: 50px 0 0 0;
}
.main>.content1>.content {font-size: 1.6rem;}

.main>.content2>h1 {
  font-size: 2.5rem;
  padding-bottom: 6px;
}
.c3h2 {font-size: 1.5rem; padding: 5px;}
.c3h1 {font-size: 2.8rem; padding: 0 5px 10px 5px;}
.c3p {font-size: 1.5rem; padding: 5px}

.main>.content4>h1 {
  font-size: 2.5rem;
  padding-bottom: 6px;
}

.main>.content6 {
  height: 100%;
  flex-direction: column;
}
.main>.content6>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 3px;
}
.main>.content6>.content1,
.main>.content6>.content3 {
  width: 100%;
}
.main>.content6>.content1 {
  padding: 0 0 10px 0;
}
.main>.content6>.content2 {
  width: 100%;
  padding: 10px 0;
  flex-direction: row;
}
.main>.content6>.content3 {
  padding: 10px 0 0 0;
}
.main>.content6>.content2>.text {
  padding-right: 10px;
  justify-content: center;
}
.main>.content6>.content1>.text {
  height: 30%;
}
.main>.content6>.content2>.text {
  height: 100%;
}
.main>.content6>.content3>.text {
  height: 40%;
}
.main>.content6>.content1>.text>h2,
.main>.content6>.content2>.text>h2,
.main>.content6>.content3>.text>h2 {
  font-size: 2.0rem;
  padding-bottom: 10px;
}
.main>.content6>.content1>.text>h1,
.main>.content6>.content2>.text>h1,
.main>.content6>.content3>.text>h1 {
  font-size: 3.0rem;
  padding-bottom: 20px;
}
.main>.content6>.content1>.text>p,
.main>.content6>.content2>.text>p,
.main>.content6>.content3>.text>p {
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.main>.content6>.content1>.img {
  height: 70%;
}
.main>.content6>.content2>.img {
  height: 100%;
}
.main>.content6>.content3>.img {
  height: 60%;
  background-position: top;
}

.main>.content7>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 1px;
}

.main>.content8 {
  height: 100%;
  flex-direction: column;
}
.main>.content8>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 3px;
}
.main>.content8>.content1,
.main>.content8>.content3 {
  width: 100%;
  flex-direction: row;
}
.main>.content8>.content1 {
  padding: 0 0 10px 0;
}
.main>.content8>.content2 {
  width: 100%;
  padding: 10px 0;
}
.main>.content8>.content3 {
  padding: 10px 0 0 0; 
}
.main>.content8>.content1>.text,
.main>.content8>.content3>.text {
  padding-right: 10px;
  justify-content: center;
}
.main>.content8>.content1>.text {
  height: 100%;
}
.main>.content8>.content2>.text {
  height: 40%;
}
.main>.content8>.content3>.text {
  height: 100%;
}
.main>.content8>.content1>.text>h2,
.main>.content8>.content2>.text>h2,
.main>.content8>.content3>.text>h2 {
  font-size: 2.0rem;
  padding-bottom: 10px;
}
.main>.content8>.content1>.text>h1,
.main>.content8>.content2>.text>h1,
.main>.content8>.content3>.text>h1 {
  font-size: 3.0rem;
  padding-bottom: 20px;
}
.main>.content8>.content1>.text>p,
.main>.content8>.content2>.text>p,
.main>.content8>.content3>.text>p {
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.main>.content8>.content1>.img {
  height: 100%;
}
.main>.content8>.content2>.img {
  height: 60%;
  background-position: top;
}
.main>.content8>.content3>.img {
  height: 100%;
}

.main>.content10 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  'content1 content2 content3'
  'content4 content5 content6'
  'content7 content8 content9'
  'content10 content11 content12'
  'content13 content14 content15'
  'content16 content17 content18'
  'content19 content20 content21'
  'content22 content23 content24'
  'content25 content26 content27'
  'content28 content29 content30'
  'content31 content32 content33'
  'content34 content35 content36';
}
.c10h2 {font-size: 1.5rem; padding: 5px;}
.c10h1 {font-size: 2.8rem; padding: 0 5px 10px 5px;}
.c10p {font-size: 1.5rem; padding: 5px}

.main>.content11>h1 {
  font-size: 2.5rem;
  padding-bottom: 6px;
}

.main>.content13 {
  flex-direction: column;
}
.main>.content13>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 3px;
}
.main>.content13>.content1,
.main>.content13>.content2 {
  width: 100%;
  padding: 10px 0;
}
.main>.content13>.content3 {
  width: 100%;
  padding: 10px 0 0 0;
  flex-direction: row;
}
.main>.content13>.content1>.text {
  height: 40%;
}
.main>.content13>.content2>.text {
  height: 40%;
}
.main>.content13>.content3>.text {
  height: 100%;
  padding-right: 10px;
  justify-content: center;
}
.main>.content13>.content1>.text>h2,
.main>.content13>.content2>.text>h2,
.main>.content13>.content3>.text>h2 {
  font-size: 2.0rem;
  padding-bottom: 10px;
}
.main>.content13>.content1>.text>h1,
.main>.content13>.content2>.text>h1,
.main>.content13>.content3>.text>h1 {
  font-size: 3.0rem;
  padding-bottom: 20px;
}
.main>.content13>.content1>.text>p,
.main>.content13>.content2>.text>p,
.main>.content13>.content3>.text>p {
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.main>.content13>.content1>.img {
  height: 60%;
}
.main>.content13>.content2>.img {
  height: 60%;
}
.main>.content13>.content3>.img {
  height: 100%;
}

.main>.content14>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 1px;
}

.main>.content15 {
  flex-direction: column;
}
.main>.content15>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 3px;
}
.main>.content15>.content1,
.main>.content15>.content2,
.main>.content15>.content3 {
  width: 100%;
  flex-direction: row;
}
.main>.content15>.content1 {
  padding: 0 0 10px 0;
}
.main>.content15>.content2 {
  padding: 10px 0;
}
.main>.content15>.content3 {
  padding: 10px 0 0 0;
}
.main>.content15>.content1>.text,
.main>.content15>.content2>.text,
.main>.content15>.content3>.text {
  padding-right: 10px;
  justify-content: center;
}
.main>.content15>.content1>.text {
  height: 100%;
}
.main>.content15>.content2>.text {
  height: 100%;
}
.main>.content15>.content3>.text {
  height: 100%;
}
.main>.content15>.content1>.text>h2,
.main>.content15>.content2>.text>h2,
.main>.content15>.content3>.text>h2 {
  font-size: 2.0rem;
  padding-bottom: 10px;
}
.main>.content15>.content1>.text>h1,
.main>.content15>.content2>.text>h1,
.main>.content15>.content3>.text>h1 {
  font-size: 3.0rem;
  padding-bottom: 20px;
}
.main>.content15>.content1>.text>p,
.main>.content15>.content2>.text>p,
.main>.content15>.content3>.text>p {
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.main>.content15>.content1>.img {
  height: 100%;
}
.main>.content15>.content2>.img {
  height: 100%;
}
.main>.content15>.content3>.img {
  height: 100%;
}

.main>.content17 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  'content1 content2'
  'content3 content4'
  'content5 content6'
  'content7 content8';
}
.c17h2 {font-size: 2.0rem; padding: 10px;}
.c17h1 {font-size: 3.5rem; padding: 0 10px 15px 10px;}
.c17p {font-size: 1.6rem; padding: 10px}

.main>.content18>h1 {
  font-size: 2.5rem;
  padding-bottom: 6px;
}

.main>.content20 {
  flex-direction: column;
}
.main>.content20>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 3px;
}
.main>.content20>.content1 {
  width: 100%;
  padding: 0 0 10px 0;
}
.main>.content20>.content2,
.main>.content20>.content3 {
  width: 100%;
  flex-direction: row;
}
.main>.content20>.content2 {
  padding: 10px 0;
}
.main>.content20>.content3 {
  padding: 10px 0 0 0;
}
.main>.content20>.content1>.text {
  height: 40%;
}
.main>.content20>.content2>.text {
  height: 100%;
  padding-right: 10px;
  justify-content: center;
}
.main>.content20>.content3>.text {
  height: 100%;
  padding-right: 10px;
  justify-content: center;
}
.main>.content20>.content1>.text>h2,
.main>.content20>.content2>.text>h2,
.main>.content20>.content3>.text>h2 {
  font-size: 2.0rem;
  padding-bottom: 10px;
}
.main>.content20>.content1>.text>h1,
.main>.content20>.content2>.text>h1,
.main>.content20>.content3>.text>h1 {
  font-size: 3.0rem;
  padding-bottom: 20px;
}
.main>.content20>.content1>.text>p,
.main>.content20>.content2>.text>p,
.main>.content20>.content3>.text>p {
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.main>.content20>.content1>.img {
  height: 60%;
}
.main>.content20>.content2>.img {
  height: 100%;
}
.main>.content20>.content3>.img {
  height: 100%;
}

.main>.content21>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 1px;
}

.main>.content22 {
  flex-direction: column;
}
.main>.content22>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 3px;
}
.main>.content22>.content1,
.main>.content22>.content2,
.main>.content22>.content3 {
  width: 100%;
  flex-direction: row;
}
.main>.content22>.content1 {
  padding: 0 0 10px 0;
}
.main>.content22>.content2 {
  padding: 10px 0;
}
.main>.content22>.content3 {
  padding: 10px 0 0 0;
}
.main>.content22>.content1>.text,
.main>.content22>.content2>.text,
.main>.content22>.content3>.text {
  padding-right: 10px;
  justify-content: center;
}
.main>.content22>.content1>.text>h2,
.main>.content22>.content2>.text>h2,
.main>.content22>.content3>.text>h2 {
  font-size: 2.0rem;
  padding-bottom: 10px;
}
.main>.content22>.content1>.text>h1,
.main>.content22>.content2>.text>h1,
.main>.content22>.content3>.text>h1 {
  font-size: 3.0rem;
  padding-bottom: 20px;
}
.main>.content22>.content1>.text>p,
.main>.content22>.content2>.text>p,
.main>.content22>.content3>.text>p {
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.main>.content22>.content1>.img {
  height: 100%;
}
.main>.content22>.content2>.img {
  height: 100%;
}
.main>.content22>.content3>.img {
  height: 100%;
}

.main>.content24 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  'content1 content2'
  'content3 content4';
}
.c24h2 {font-size: 2.0rem; padding: 10px;}
.c24h1 {font-size: 3.5rem; padding: 0 10px 15px 10px;}
.c24p {font-size: 1.6rem; padding: 10px}

.main>.content25>h1 {
  font-size: 2.5rem;
  padding-bottom: 6px;
}

.main>.content27 {
  flex-direction: column;
}
.main>.content27>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 3px;
}
.main>.content27>.content1,
.main>.content27>.content3 {
  width: 100%;
  flex-direction: row;
}
.main>.content27>.content1 {
  padding: 0 0 10px 0;
}
.main>.content27>.content2 {
  width: 100%;
  padding: 10px 0;
}
.main>.content27>.content3 {
  padding: 10px 0 0 0;
}
.main>.content27>.content1>.text {
  height: 100%;
  padding-right: 10px;
  justify-content: center;
}
.main>.content27>.content2>.text {
  height: 30%;
}
.main>.content27>.content3>.text {
  height: 100%;
  padding-right: 10px;
  justify-content: center;
}
.main>.content27>.content1>.text>h2,
.main>.content27>.content2>.text>h2,
.main>.content27>.content3>.text>h2 {
  font-size: 2.0rem;
  padding-bottom: 10px;
}
.main>.content27>.content1>.text>h1,
.main>.content27>.content2>.text>h1,
.main>.content27>.content3>.text>h1 {
  font-size: 3.0rem;
  padding-bottom: 20px;
}
.main>.content27>.content1>.text>p,
.main>.content27>.content2>.text>p,
.main>.content27>.content3>.text>p {
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.main>.content27>.content1>.img {
  height: 100%;
}
.main>.content27>.content2>.img {
  height: 70%;
}
.main>.content27>.content3>.img {
  height: 100%;
}

.main>.content28>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 3px;
}

.main>.content29 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  'content1 content2' 
  'content3 content4';
}
.c29h2 {font-size: 2.0rem; padding: 10px;}
.c29h1 {font-size: 3.5rem; padding: 0 10px 15px 10px;}
.c29p {font-size: 1.6rem; padding: 10px}

.main>.content30>h1 {
  font-size: 2.5rem;
  padding-bottom: 6px;
}

.main>.content32 {
  flex-direction: column;
}
.main>.content32>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 3px;
}
.main>.content32>.content1 {
  width: 100%;
  padding: 0 0 10px 0;
}
.main>.content32>.content2 {
  width: 100%;
  padding: 10px 0;
  flex-direction: row;
}
.main>.content32>.content3 {
  width: 100%;
  padding: 10px 0 0 0;
}
.main>.content32>.content1>.text {
  height: 40%;
}
.main>.content32>.content2>.text {
  height: 100%;
  padding-right: 10px;
  justify-content: center;
}
.main>.content32>.content3>.text {
  height: 40%;
}
.main>.content32>.content1>.text>h2,
.main>.content32>.content2>.text>h2,
.main>.content32>.content3>.text>h2 {
  font-size: 2.0rem;
  padding-bottom: 10px;
}
.main>.content32>.content1>.text>h1,
.main>.content32>.content2>.text>h1,
.main>.content32>.content3>.text>h1 {
  font-size: 3.0rem;
  padding-bottom: 20px;
}
.main>.content32>.content1>.text>p,
.main>.content32>.content2>.text>p,
.main>.content32>.content3>.text>p {
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.main>.content32>.content2>.img {
  height: 100%;
}
.main>.content32>.content3>.img {
  height: 60%;
}

.main>.content33>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 3px;
}

.main>.content34 {
  flex-direction: column;
}
.main>.content34>.line {
  background: url(https://batenka.ru/static/built/assets/images/design/splitter-hor.0b9e33b9d8a2.png);
  width: 100%;
  height: 3px;
}
.main>.content34>.content1,
.main>.content34>.content2,
.main>.content34>.content3 {
  width: 100%;
  flex-direction: row;
}
.main>.content34>.content1 {
  padding: 0 0 10px 0;
}
.main>.content34>.content2 {
  padding: 10px 0;
}
.main>.content34>.content3 {
  padding: 10px 0 0 0;
}
.main>.content34>.content1>.text,
.main>.content34>.content2>.text,
.main>.content34>.content3>.text {
  height: 100%;
  padding-right: 10px;
  justify-content: center;
}
.main>.content34>.content1>.text>h2,
.main>.content34>.content2>.text>h2,
.main>.content34>.content3>.text>h2 {
  font-size: 2.0rem;
  padding-bottom: 10px;
}
.main>.content34>.content1>.text>h1,
.main>.content34>.content2>.text>h1,
.main>.content34>.content3>.text>h1 {
  font-size: 3.0rem;
  padding-bottom: 20px;
}
.main>.content34>.content1>.text>p,
.main>.content34>.content2>.text>p,
.main>.content34>.content3>.text>p {
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.main>.content34>.content1>.img {
  height: 100%;
}
.main>.content34>.content2>.img {
  height: 100%;
}
.main>.content34>.content3>.img {
  height: 100%;
}
}