.container {background-color: rgb(248, 248, 248);}
.storeList::-webkit-scrollbar {
    width: 10px;
}
.storeList::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.storeList::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.storeList {
    width: 500px;
    height: 100vh;
    padding: 20px;
    overflow: auto;
}
select {
    width: 100px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 4px;
    font-size: 14px;
    border-radius: 6px;
    margin: 10px;
    outline: none;
}
option {
    padding: 4px;
    font-size: 14px;
    color: #fff;
    background: #272822;
}
.btn {
    width: 50px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: black;
    color: white;
}
.no {display: none;}
.yes{
    width: 100%;
    height: 140px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(204, 204, 204, 0.2);
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.yes:hover {
    background-color: #ddd;
}
.yes:hover .findLoad{
    background-color: white;
    color: black;
}
.yes h3,.findLoad{
    margin: 8px 0;
}
.yes p {
    font-size: 15px;
    margin: 2px 0;
}
.findLoad {
    padding: 5px 10px ;
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid rgba(204, 204, 204, 0.2);
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
.yes .findLoad:hover {
    background-color: black;
    color: white;
}
.loca {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.mapSection {
    width: 100%;
    height: 100vh;
}
#map {width: 100%; height: 100vh;}
.info-title {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height:22px;
    border-radius:4px;
    padding:1px 10px;
}

@media screen 
and (max-width: 767px) {
    .main{flex-direction: column-reverse;}
    #map,.mapSection {width: 100%; height: 400px;}
    .storeList{width: 100%;padding:10px;}
    .yes {width: 100%; margin-bottom: 5px;}
    .storeList ul {display: grid; grid-template-columns: repeat(2,1fr); gap: 10px;}
    .storeList ul p {text-align:center;}
    .loca {margin-top: 0;}
}
